$black: #000;
$white: #fff;
$blue: rgba(59, 130, 246, 0.5);
$placeholder-grey: rgba(0, 0, 0, 0.5);

$valid-green: rgb(0, 155, 0);
$invalid-red: rgb(255, 0, 55);

$sm-pink: #fc0474;
$sm-blue: #242c6c;
$sm-middle: #5c1c70;
